@{
    HttpCookie ckRequest =  Request.Cookies["CantidadCarrito"];
    if (ckRequest != null) {
        ViewBag.CantidadCarrito = ckRequest.Value;
    } else
    {
        ViewBag.CantidadCarrito = 0;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Sistema de Ventas en Línea: Grupo 14</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- Core Style CSS -->

</head>
<body>


    <div id="barraBusquedas" class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <!-- form action="#" method="get" -->
                        @using (Html.BeginForm("Busqueda", "Articulos", FormMethod.Post))
                        {
                            <input type="search" name="search" id="search" placeholder="Ingresa tu busqueda aquí...">
                            <button type="submit" name="submit"><img src="/img/core-img/search.png" alt=""></button>
                        }
                        <!-- /form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- nav para movil -->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="@Url.Action("Index", "Home")"><img src="~/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- nav principal -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Carrito", "Detalle", new { idcarrito = int.Parse(Request.Cookies["CarritoCompra"].Value) })">Carrito de Compras</a></li>
                    <li>@Html.ActionLink("Productos", "Index", "Articulos")</li>
                    <li>@Html.ActionLink("Administración", "Admin", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="@Url.Action("Carrito", "Detalle", new { idcarrito = int.Parse(Request.Cookies["CarritoCompra"].Value) })" class="cart-nav"><img src="/img/core-img/cart.png" alt=""> Carrito <span>(@ViewBag.CantidadCarrito)</span></a>
                <div><a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Buscar</a></div>
            </div>
        </header>
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- area de newsletter-->
    <footer>
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved </br> This template was made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Scripts/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Scripts/active.js"></script>

</body>
</html>