@model Too.Models.IMPUESTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IMPUESTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMIMPUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMIMPUESTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALORIMPUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALORIMPUESTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDIMPUESTO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
