@model IEnumerable<Too.Models.DETALLECARRITO>
@{
    ViewBag.Title = "Carrito de compras";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARRITOCOMPRA.LUGARENTREGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO.NOMBREPROD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDADPROD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CARRITOCOMPRA.LUGARENTREGA)
            </td>
            <td>
                <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                    @Html.DisplayFor(modelItem => item.PRODUCTO.NOMBREPROD)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CANTIDADPROD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO)
            </td>
            <td>
                @Html.ActionLink("X", "Delete", new { id = item.IDPRODUCTO })
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-10">
            <input type="hidden" name="IDCARRITO" value="@ViewBag.idCarro" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Tarifa Envio
            @if (ViewBag.Tarifas != null)
            {
                @Html.DropDownList("IDTARIFAENVIO", new SelectList(ViewBag.Tarifas, "IDTARIFA", "NOMBRETARIFA"), new { @class = "form-control", id="controlTarifa" })
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Envío
            <input type="checkbox" id="controlEnvio" name="ENVIO" checked="checked" onclick="verificarEnvio(this.checked)" /> Deseo envío
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Subtotal
            <input type="text" name="SUBTOTAL" value="@ViewBag.subtotal" readonly />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Lugar de Entrega
            <input type="text" name="LUGARENTREGA" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Método de pago
            <select id="METODOPAGO" name="METODOPAGO"><option value="1">Paypal</option><option value="2">Visa/Mastercard</option></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" value="Comprar" class="btn btn-default" @if (ViewBag.habilitar == false) { @: disabled
                   } else { @:
                   } />
        </div>
    </div>
}
<script>
    function verificarEnvio(valor) {
            if (valor == true) {
                document.getElementById("controlTarifa").disabled = false;
            } else if (valor == false) {
                document.getElementById("controlTarifa").value = 1;
                document.getElementById("controlTarifa").disabled = true;
            }
        }
</script>
