@model Too.Models.CARRITOCOMPRA
@{
    ViewBag.Title = "Pagar";
}

<h2>Pagar</h2>


<div class="form-group">
    <div class="col-md-10">
        <input type="hidden" name="IDCARRITO" value="@Model.IDCARRITO" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        Tarifa Envio
        <input type="text" name="IDTARIFAENVIO" value="@Model.TARIFAENVIO.NOMBRETARIFA" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="hidden" name="ENVIO" /> Deseo envío
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        Subtotal
        <input type="text" name="SUBTOTAL" value="@Model.SUBTOTAL" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="text" name="TOTAL" value="@ViewBag.total" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="text" name="LUGARENTREGA" value="@Model.LUGARENTREGA" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="text" name="METODOPAGO" value="@Model.METODOPAGO" readonly />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="@Url.Action("Index", "Home")"> Comprar </a>
    </div>
</div>