@model IEnumerable<Too.Models.PRODUCTO>

@{
    ViewBag.Title = "Producto";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Crear un nuevo producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUBDEPARTAMENTO.NOMSUBCATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREPROD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCPROD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIOUNIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGENPROD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPONIBILIDAD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUBDEPARTAMENTO.NOMSUBCATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREPROD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCPROD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIOUNIT)
        </td>
        <td>
            <img width="100" height="150" src="@Url.Action("obtenerImagen","Productos",new { id=item.IDPRODUCTO})" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPONIBILIDAD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPRODUCTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPRODUCTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPRODUCTO })
        </td>
    </tr>
}

</table>
