@{
    ViewBag.Title = "Administración";
}
<h2>@ViewBag.Title.</h2>

<h3>Controle aspectos de los productos en disposición como Departamentos, Inventario, Tarifas, y demás.</h3>
<table>
    <tr>
        <th>
            <p>Gestión de productos</p>
        </th>
        <th>
            <p>Gestión de categorías</p>
        </th>
    </tr>
    <tr>
        <td>
            <p><a href="@Url.Action("Index", "Productos")">Ir a Productos</a></p>
            <p><a href="@Url.Action("Index", "CantidadesProductos")">Ir a Inventario de productos</a></p>
        </td>
        <td>
            <p><a href="@Url.Action("Index", "Departamentos")">Ir a Departamentos</a></p>
            <p><a href="@Url.Action("Index", "Subdepartamentos")">Ir a Subdepartamentos</a></p>
            <p><a href="@Url.Action("Index", "Tags")">Ir a Tags</a></p>
            <p><a href="@Url.Action("Index", "Regiones")">Ir a Regiones</a></p>
        </td>
    </tr>
    <tr>
        <th>
            <p>Gestión de usuarios</p>
        </th>
        <th>
            <p>Gestión de deductibles</p>
        </th>
    </tr>
    <tr>
        <td>
            <p><a href="@Url.Action("Index", "TarifasEnvio")">Ir a Tarifas de Envío</a></p>
            <p><a href="@Url.Action("Index", "Impuestos")">Ir a Impuestos</a></p>
        </td>
        <td>
            <p><a href="@Url.Action("Index", "Usuarios")">Ir a Usuarios</a></p>
        </td>
    </tr>
</table>