@model IEnumerable<Too.Models.PRODUCTO>
@{
    ViewBag.Title = "Inicio";
}
@if (Model != null) 
{
    <div style="display: flex;flex-wrap: wrap;">
        @foreach (var item in Model)
        {
            <div class="single-products-catagory clearfix">
                <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                    <img src="@Url.Action("obtenerImagen", "Productos", new { id = item.IDPRODUCTO })" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <h3><p>@Html.DisplayFor(modelItem => item.SUBDEPARTAMENTO.DEPARTAMENTO.NOMBRECATEGORIA)</p></h3>
                        <h4>@Html.DisplayFor(modelItem => item.SUBDEPARTAMENTO.NOMSUBCATEGORIA)</h4>
                        <p>En $ @Html.DisplayFor(modelItem => item.PRECIOUNIT)</p>
                        <h5><p>@Html.DisplayFor(modelItem => item.NOMBREPROD)</p></h5>
                    </div>
                </a>
            </div>
        }
    </div>
}
