@model IEnumerable<Too.Models.PRODUCTO>
@{
    ViewBag.Title = "Inicio";
}
@ViewBag.IdCarritoCompra
    <div class="jumbotron">

        <table class="table">
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBDEPARTAMENTO.NOMSUBCATEGORIA)
                        </td>
                        <td>
                            <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                                @Html.DisplayFor(modelItem => item.NOMBREPROD)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCPROD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRECIOUNIT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IMAGENPROD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISPONIBILIDAD)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>