@model IEnumerable<Too.Models.PRODUCTO>
@{ 
    ViewBag.Title = "Inicio";
}

<h2>Destacados por categoría</h2>
<div class="jumbotron">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBDEPARTAMENTO.NOMSUBCATEGORIA)
                </td>
                <td>
                    <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                        @Html.DisplayFor(modelItem => item.NOMBREPROD)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCPROD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIOUNIT)
                </td>
                <td>
                    <img width="100" height="150" src="@Url.Action("obtenerImagen","Productos",new { id=item.IDPRODUCTO})" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISPONIBILIDAD)
                </td>
            </tr>
        }
    </table>
</div>
<br>
<h2>Todos los productos</h2>
<div class="jumbotron">
    <table class="table">
        @using Too.Models;
        @foreach (PRODUCTO item in ViewBag.listaProds)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                        @Html.DisplayFor(modelItem => item.NOMBREPROD)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCPROD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIOUNIT)
                </td>
                <td>
                    <img width="100" height="150" src="@Url.Action("obtenerImagen","Productos",new { id=item.IDPRODUCTO})" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISPONIBILIDAD)
                </td>
            </tr>
        }
    </table>
</div>
