@model IEnumerable<Too.Models.PRODUCTO>
@{
    ViewBag.Title = "Listado de productos";
}
<div style="display: flex;">
    <div class="shop_sidebar_area">
        <!-- ##### Single Widget ##### -->
        @using (Html.BeginForm("Index", "Articulos"))
        {
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Categorías</h6>
            <!--  Catagories  -->
    <div class="catagories-menu">
        <ul>
            @if (ViewBag.categors != null)
            {
                foreach (var subdeptos in ViewBag.categors)
                {
                    <li><input type="radio" value="@subdeptos.DEPARTAMENTO.NOMBRECATEGORIA" name="cats">  @subdeptos.DEPARTAMENTO.NOMBRECATEGORIA</li>
                }
            }
        </ul>
        <br>
        <br>
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Filtrar por precio:</h6>
        <!-- Single Form Check -->
        <div class="form-check">
            <input class="mb-30 center-block" type="text" name="fltPrecio" value="" />
        </div>
    </div>
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        }
    </div>
    <div class="row">

    @foreach (var item in Model) {
        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-md-12 col-xl-6" >
            <div class="single-product-wrapper">
                <!-- Imagen del producto -->
                <div class="product-img">
                    <img style="max-width: 330px;" src="@Url.Action("obtenerImagen","Productos",new { id=item.IDPRODUCTO})" alt="">
                </div>

                <!-- Descripcion del producto -->
                <div class="product-description d-flex align-items-center justify-content-between">
                    <!-- Datos de producto -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">$ @Html.DisplayFor(modelItem => item.PRECIOUNIT)</p>
                        <a href="@Url.Action("Producto", "Detalle", new { id = item.IDPRODUCTO })">
                            <h6>@Html.DisplayFor(modelItem => item.NOMBREPROD)</h6>
                        </a>
                    </div>
                    <!-- Carritos -->
                    <div class="ratings-cart text-right">
                        <div class="cart">
                            <a href="@Url.Action("Carrito", "Detalle", new { idcarrito = int.Parse(Request.Cookies["CarritoCompra"].Value) })" data-toggle="tooltip" data-placement="left" title="Añadir al carrito"><img src="~/img/core-img/cart.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    </div>
</div>
